<!DOCTYPE html>
<html>
  <head>
    <title>My Purple Boxes</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
      <a href="upload.html">
        <div class="box purple">
          <p>Ladda upp Excel-fil</p>
        </div>
      </a>
      <a href="statistics.html">
        <div class="box purple">
          <p>Skapa och visa diagram över statistik</p>
        </div>
      </a>
      <a href="filter.html">
        <div class="box purple">
          <p>Sök och filtrera data</p>
        </div>
      </a>
    </div>
  </body>
</html>
