<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>

    <div class="container">
        <h2>Klart!</h2>
        <p>Filuppladdningen genomfördes utan några problem.</p>
    </div>

</body>
</html>