<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <a asp-controller="Home" asp-action="Mobilitetsstatistik">
        <div class="box purple">
            <p>Mobilitetsstatistik MFS Stipendier</p>
        </div>
    </a>
    <a asp-controller="Home" asp-action="Partnerskap">
        <div class="box purple">
            <p>Programstatistik Atlas Partnerskap</p>
        </div>
    </a>
    <a asp-controller="Home" asp-action="Praktik">
        <div class="box purple">
            <p>Programstatistik Atlas Praktik</p>
        </div>
    </a>
    <a asp-controller="Home" asp-action="Programstatistik">
        <div class="box purple">
            <p>Programstatistik MFS Stipendier</p>
        </div>
    </a>
</div>

</body>
</html>
