<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <h2>File Upload</h2>
        
    <!-- Form to upload file -->
    <form asp-controller="Home" asp-action="LoadData" enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label for="excelFile">Select an Excel file:</label>
            <input type="file" name="excelFile" id="excelFile" accept=".xls,.xlsx" onchange="fileUploaded()" required>
        </div>
        <button type="submit">Upload</button>
    </form>
</div>

</body>
</html>
