<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <h2>File Upload</h2>
        
    <!-- Form to upload file -->
    <form asp-controller="Home" asp-action="LoadData" enctype="multipart/form-data" multiple method="post">
        <div class="form-group">
            <label for="excelFile">Välj en Exel-fil att ladda upp:</label>
            <input type="file" name ="file" accept=".xlsx, .xls" required>
        </div>
        <button type="submit">Ladda upp</button>
    </form>
</div>

</body>
</html>
