<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <a asp-controller="Home" asp-action="LoadData">
        <div class="box purple">
            <p>Filuppladdning</p>
            
            //Form to upload file
        </div>
    </a>
</div>

</body>
</html>"