<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<div class="container">
    <a href="upload.html">
        <div class="box purple">
            <p>Mobilitetsstatistik MFS Stipendier</p>
        </div>
    </a>
    <a href="Atlas_Partnerskap.html">
        <div class="box purple">
            <p>Programstatistik Atlas Partnerskap</p>
        </div>
    </a>
    <a href="Atlas_Praktik.html">
        <div class="box purple">
            <p>Programstatistik Atlas Praktik</p>
        </div>
    </a>
    <a href="Programstatistik_MFS.html">
        <div class="box purple">
            <p>Programstatistik MFS Stipendier</p>
        </div>
    </a>
</div>

</body>
</html>