.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.purple {
    background-color: purple;
}

.box p {
    color: white;
    font-size: 18px;
    font-weight: bold;
}
